.year{
    font: 200 50px "Helvetica Neue";
    
    fill: #ddd;    
}

path.county {
    fill:white;
    fill-opacity:0;
    stroke:black;
    stroke-opacity:.5
}

rect.popup{
    fill:white;
    fill-opacity: 0.2;
    stroke-opacity:0;
}

path.Flood{fill:blue;}
path.Coastal_Storm{fill:blue;}
path.Dam_Levee_Break{fill:blue;}

path.Earthquake{fill:sienna;}


path.Fire{fill:red;}
path.Volcano{fill:tomato;}
path.Drought{fill:sandybrown;}
path.Mud_Landslide{fill:sandybrown;}
path.Fishing_Losses{fill:bluegreen;}

path.Hurricane{fill:darkblue;}
path.Tsunami{fill:darkblue;}
path.Typhoon{fill:darkblue;}

path.Tornado{fill:black;}
path.Severe_Storms{fill:black;}

path.Severe_Ice_Storm{fill:aqua;}
path.Snow{fill:aqua;}
path.Freezing{fill:aqua;}

path.Human_Cause{fill:purple;}
path.Toxic_Substances{fill:purple;}
path.Terrorist{fill:blueviolet;}
path.Other{fill:purple;}


.link {
  stroke: #000;
  stroke-width: 1.5px;
}

.node {
  cursor: move;
  fill: blue;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}
.axis text {
  font: 12px sans-serif;
  fill:black;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.year_circle {
    fill-opacity:0;
    fill:green;
    stroke:black;
    stroke-width:5
}

.popup {
    fill:white;
    stroke:black;
}