div.legend{
  color:black;
  background:white;
  opacity:1;  
}


path.county {
    fill:white;
    fill-opacity:0.5;
    stroke:black;
    stroke-opacity:.25
}
/* thanks to http://colorbrewer2.org */
path.q0 { fill:#f7fcf0; }
path.q1 { fill:#e0f3db; }
path.q2 { fill:#ccebc5; }
path.q3 { fill:#a8ddb5; }
path.q4 { fill:#7bccc4; }
path.q5 { fill:#4eb3d3; }
path.q6 { fill:#2b8cbe; }
path.q7 { fill:#0868ac; }
path.q8 { fill:#084081; }

rect.q0 { fill:#f7fcf0 }
rect.q1 { fill:#e0f3db }
rect.q2 { fill:#ccebc5 }
rect.q3 { fill:#a8ddb5 }
rect.q4 { fill:#7bccc4 }
rect.q5 { fill:#4eb3d3 }
rect.q6 { fill:#2b8cbe }
rect.q7 { fill:#0868ac }
rect.q8 { fill:#084081 }


.axis text {
  font: 12px sans-serif;
  fill:black;
}

.axis path, .axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}